<h1>Thêm người dùng</h1>
<form action="/add" method="POST">
  Phone: <input type="number" name="phone"/> <br />
  Password:<input type="text" name="password"/> <br />
  Type Register:<input type="text" name="typeRegister"/> <br />
  Token Login:<input type="text" name="tokenLogin"/> <br />
  Device ID:<input type="number" name="deviceID"/> <br />
  Fcm Tokens: <input type="text" name="fcmTokens"/><br>
  <button type="submit">Thêm người dùng</button>
</form>
